/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define main    0
#define left    1
#define right   2
#define tri     3

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)

/ {
    keymap {
        compatible = "zmk,keymap";

        main {
        /* QWERTY
         * -------------------------------------------------------------------------------------------------------------------------------------
         * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
         * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
         * | SHIFT |   Z   |   X   |   C   |   V   |   B   | CAPS  |-------------------|  ESC  |   N   |   M   |   ,   |   .   |   /   | SHIFT |
         * ----------------| CTRL  |-------|  GUI  |  ALT  | SPACE |  Sym  |---|  Num  | SPACE |  ALT  |  GUI  |-------|   '   |----------------
        */
//            bindings = <
//&kp  GRAVE    &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                            &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSPC
//&kp  TAB      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                            &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  ENTER
//&kp  LSHFT    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  CAPS             &kp   ESC     &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  RSHFT
//              &kp  LCTRL                  &kp  LGUI     &kp  LALT     &kp  SPACE    &mo  SYM_L            &mo  NUM_L    &kp  SPACE    &kp  LALT     &kp  RGUI                   &kp  SQT
//            >;

            bindings = <
&kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A                                            &kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A
&kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A                                            &kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A
&kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A                &kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A        &kp  A
              &kp  A                      &kp  A        &kp  A        &kp  A        &kp  A                &kp  A        &kp  A        &kp  A        &kp  A                      &kp  A
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
